[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

:root {
  --main-color: #ee7103;
}

body {
  /* background-image: url(images/dcase0.png); */
  background-color: #000;
  margin: 0px;
  padding: 0px;
  background-position: 50% 50%;
  background-attachment: fixed;
  font-size: 14px;
}

#cases2 {
  position: absolute;
  visibility: visible;
  z-index: +3;
}

#credits {
  position: absolute;
  left: 10px;
  top: 542px;
  text-align: left;
  font-size: 12px;
  height: 50px;
  width: 1030px;
}

.fond {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* border: 8px solid #cf6; */
  border: 8px solid var(--main-color);
  height: 596px;
  text-align: center;
  width: 1024px;
  background-color: #ccf;
  border-radius: 10px;
}

#dessinfond {
  position: absolute;
}

#rebours {
  position: absolute;
  background-color: #f7b767;
  border-radius: 2px;
  top: 485px;
  left: 872px;
  width: 73px;
  height: 40px;
  visibility: visible;
}

.fondliste {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7b767;
  height: 130px;
  width: 750px;
  top: 30px;
}

/*
#titre {
    position: absolute;
    background-color: #983897;
    opacity: 0.8;
    color: #fff;
    font-size: 24px;
    text-align: center;
    height: 26px;
    text-align: center;
    width: 390px;
    top: 12px;
    left: 139px;
} */
#regle {
  position: absolute;
  background-color: #69f;
  opacity: 0.8;
  color: #fff;
  font-size: 24px;
  height: 26px;
  text-align: center;
  width: 154px;
  top: 13px;
  left: 555px;
}

#cases {
  position: absolute;
  color: #000;
  font-size: 24px;
  background-color: #fff;
  height: 155px;
  text-align: center;
  width: 381px;
  left: 360px;
  padding: 5px;
  top: 278px;
  border-radius: 8px;
  border: 8px solid var(--main-color);
  visibility: visible;
  z-index: 3;
}

#ecouter {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  border: 2px solid #3366b0;
  background-color: #f6f;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  width: 280px;
  color: #000;
}

#sur-desssin {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 830px;
  height: 470px;
}

#logo2 {
  position: absolute;
  margin-left: 730px;
  margin-top: 0cm;
  background-color: #99c;
  left: 195px;
  top: 633px;
  width: 95px;
}

#logo3 {
  position: absolute;
  margin-left: 730px;
  margin-top: 0cm;
  left: -246px;
  top: 727px;
  width: 166px;
}

body {
  /* background-color: #9cf; */
  background-color: #fff;
}

#dessincase1 {
  position: absolute;
  left: 442px;
  top: 58px;
  width: 249px;
  height: 236px;
  visibility: hidden;
  z-index: 2;
}

#dessincase4 {
  position: absolute;
  left: 296px;
  top: 35px;
  width: 515px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase5 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase9 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase18 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase19 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase22 {
  position: absolute;
  left: 270px;
  top: 0px;
  visibility: hidden;
  z-index: 2;
}

#dessincase24 {
  position: absolute;
  left: 200px;
  top: 8px;
  width: 700px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase25 {
  position: absolute;
  left: 200px;
  top: 26px;
  width: 700px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#resultat {
  position: absolute;
  border-style: solid;
  background-color: #ccc;
  opacity: 0.8;
  font-size: 24px;
  height: 22px;
  text-align: center;
  width: 100px;
  top: 374px;
  left: 932px;
}

#lecture1 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture2 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture3 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture4 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture5 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture6 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture7 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture8 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture9 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture10 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture11 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture12 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture13 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture14 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture15 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture16 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture17 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture18 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture19 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture20 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture21 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture22 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture23 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture24 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture25 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture1,
#lecture2,
#lecture3,
#lecture4,
#lecture5,
#lecture6,
#lecture7,
#lecture8,
#lecture9,
#lecture10,
#lecture11,
#lecture12,
#lecture13,
#lecture14,
#lecture15,
#lecture16,
#lecture17,
#lecture18,
#lecture19,
#lecture20,
#lecture21,
#lecture22,
#lecture23,
#lecture24,
#lecture25 {
  top: 379px;
  left: 694px;
  z-index: 4;
}

#croix {
  position: absolute;
  border-radius: 2px;
  top: 244px;
  left: 728px;
  width: 47px;
  height: 65px;
  z-index: 4;
}

#croix2 {
  position: absolute;
  border-radius: 2px;
  top: -24px;
  left: 354px;
}

#croix3 {
  position: absolute;
  border-radius: 2px;
  top: -24px;
  left: 354px;
}

#gobelet {
  position: absolute;
  border-radius: 2px;
  top: 219px;
  left: 907px;
  height: 154px;
  cursor: pointer;
}

#de1 {
  position: absolute;
  visibility: visible;
}

#de2 {
  position: absolute;
  visibility: visible;
}

#de3 {
  position: absolute;
  visibility: visible;
}

#de4 {
  position: absolute;
  visibility: visible;
}

#de5 {
  position: absolute;
  visibility: visible;
}

#de6 {
  position: absolute;
  visibility: visible;
}

#de1,
#de2,
#de3,
#de4,
#de5,
#de6 {
  top: 215px;
  left: 830px;
}

#pion1 {
  position: absolute;
  border-radius: 2px;
  top: 78px;
  left: 867px;
  cursor: pointer;
}

#pion2 {
  position: absolute;
  border-radius: 2px;
  top: 134px;
  left: 915px;
  cursor: pointer;
}

#pion3 {
  position: absolute;
  border-radius: 2px;
  top: 135px;
  left: 960px;
  cursor: pointer;
}

#pion4 {
  position: absolute;
  border-radius: 2px;
  top: 133px;
  left: 870px;
  cursor: pointer;
}

#pion5 {
  position: absolute;
  border-radius: 2px;
  top: 79px;
  left: 956px;
  cursor: pointer;
}

#pion6 {
  position: absolute;
  border-radius: 2px;
  top: 79px;
  left: 913px;
  cursor: pointer;
}

#numero101 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 700px;
  visibility: visible;
}

#numero102 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 584px;
  visibility: visible;
}

#numero103 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 470px;
  visibility: visible;
}

#numero104 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 358px;
  visibility: visible;
}

#numero105 {
  position: absolute;
  background-color: #ccc;
  top: 60px;
  left: 236px;
  visibility: visible;
}

#numero106 {
  position: absolute;
  background-color: #ccc;
  top: 100px;
  left: 122px;
  visibility: visible;
}

#numero107 {
  position: absolute;
  background-color: #ccc;
  top: 191px;
  left: 78px;
  visibility: visible;
}

#numero108 {
  position: absolute;
  background-color: #ccc;
  top: 281px;
  left: 72px;
  visibility: visible;
}

#numero109 {
  position: absolute;
  background-color: #ccc;
  top: 373px;
  left: 83px;
  visibility: visible;
}

#numero110 {
  position: absolute;
  background-color: #ccc;
  top: 462px;
  left: 108px;
  visibility: visible;
}

#numero111 {
  position: absolute;
  background-color: #ccc;
  top: 478px;
  left: 229px;
  visibility: visible;
}

#numero112 {
  position: absolute;
  background-color: #ccc;
  top: 480px;
  left: 347px;
  visibility: visible;
}

#numero113 {
  position: absolute;
  background-color: #ccc;
  top: 480px;
  left: 462px;
  visibility: visible;
}

#numero114 {
  position: absolute;
  background-color: #ccc;
  top: 480px;
  left: 582px;
  visibility: visible;
}

#numero115 {
  position: absolute;
  background-color: #ccc;
  top: 479px;
  left: 702px;
  visibility: visible;
}

#numero116 {
  position: absolute;
  background-color: #ccc;
  top: 393px;
  left: 790px;
  visibility: visible;
}

#numero117 {
  position: absolute;
  background-color: #ccc;
  top: 308px;
  left: 778px;
  visibility: visible;
}

#numero118 {
  position: absolute;
  background-color: #ccc;
  top: 209px;
  left: 709px;
  visibility: visible;
}

#numero119 {
  position: absolute;
  background-color: #ccc;
  top: 198px;
  left: 588px;
  visibility: visible;
}

#numero120 {
  position: absolute;
  background-color: #ccc;
  top: 195px;
  left: 470px;
  visibility: visible;
}

#numero121 {
  position: absolute;
  background-color: #ccc;
  top: 207px;
  left: 353px;
  visibility: visible;
}

#numero122 {
  position: absolute;
  background-color: #ccc;
  top: 290px;
  left: 265px;
  visibility: visible;
}

#numero123 {
  position: absolute;
  background-color: #ccc;
  top: 377px;
  left: 347px;
  visibility: visible;
}

#numero124 {
  position: absolute;
  background-color: #ccc;
  top: 359px;
  left: 474px;
  visibility: visible;
}

#numero25 {
  position: absolute;
  background-color: #ccc;
  top: 338px;
  left: 607px;
  visibility: visible;
  bottom: 72px;
}

#numero101,
#numero102,
#numero103,
#numero102,
#numero104,
#numero105,
#numero106,
#numero107,
#numero108,
#numero109,
#numero109,
#numero110,
#numero111,
#numero112,
#numero113,
#numero114,
#numero115,
#numero116,
#numero117,
#numero118,
#numero119,
#numero120,
#numero121,
#numero122,
#numero123,
#numero124 {
  width: 52px;
  height: 30px;
  /* opacity: 0; */
  background-color: #fff;
  color: #ee7103;
  border-radius: 20px;
  border: 1px solid #ee7103;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#numero101 a,
#numero102 a,
#numero103 a,
#numero104 a,
#numero105 a,
#numero106 a,
#numero107 a,
#numero108 a,
#numero109 a,
#numero109 a,
#numero110 a,
#numero111 a,
#numero112 a,
#numero113 a,
#numero114 a,
#numero115 a,
#numero116 a,
#numero117 a,
#numero118 a,
#numero119 a,
#numero120 a,
#numero121 a,
#numero122 a,
#numero123 a,
#numero124 a {
  color: #ee7103;
  text-decoration: none;
  padding: 5px 20px;
}

#numero101 a:active,
#numero101 a:focus,
#numero102 a:active,
#numero102 a:focus,
#numero103 a:active,
#numero103 a:focus,
#numero104 a:active,
#numero104 a:focus,
#numero105 a:active,
#numero105 a:focus,
#numero106 a:active,
#numero106 a:focus,
#numero107 a:active,
#numero107 a:focus,
#numero108 a:active,
#numero108 a:focus,
#numero109 a:active,
#numero109 a:focus,
#numero109 a:active,
#numero109 a:focus,
#numero110 a:active,
#numero110 a:focus,
#numero111 a:active,
#numero111 a:focus,
#numero112 a:active,
#numero112 a:focus,
#numero113 a:active,
#numero113 a:focus,
#numero114 a:active,
#numero114 a:focus,
#numero115 a:active,
#numero115 a:focus,
#numero116 a:active,
#numero116 a:focus,
#numero117 a:active,
#numero117 a:focus,
#numero118 a:active,
#numero118 a:focus,
#numero119 a:active,
#numero119 a:focus,
#numero120 a:active,
#numero120 a:focus,
#numero121 a:active,
#numero121 a:focus,
#numero122 a:active,
#numero122 a:focus,
#numero123 a:active,
#numero123 a:focus,
#numero124 a:active,
#numero124 a:focus {
  border: 0px;
}


:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

#numero25 {
  width: 176px;
  height: 124px;
  opacity: 0;
}

#boite {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  width: 210px;
  z-index: +2;
}

#btn1 {
  font-size: 20px;
  color: white;
  background-color: #7b58ee;
  height: 30px;
  cursor: pointer;
  text-align: center;
  width: 285px;
  visibility: visible;
}

#btn2 {
  font-size: 20px;
  color: #fff;
  background-color: red;
  height: 30px;
  cursor: pointer;
  text-align: center;
  width: 285px;
  visibility: visible;
}

#count {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  color: #fff;
  background-color: #333;
  height: 50px;
  text-align: center;
  width: 280px;
  visibility: visible;
}

h2 {
  text-align: center;
  /* font-size: 3rem; */
  width: calc(1024px - 100px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1024px;
  height: 118px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: var(--main-color);
}

.title {
  text-decoration: none;
  font-size: 3rem;
  margin-top: 14px;
  margin-bottom: 14px;
}

a.title:hover,
.bi:hover {
  color: grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.title:active,
.bi:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.header a {
  color: var(--main-color);
}

.header p {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header p a {
  margin-left: 10px;
}

.bi {
  color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.52);
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.fond {
  min-width: 499px;
}

footer p {
  text-align: center;
  text-transform: capitalize;
}

.numero:hover,
#croix:hover,
.lecture {
  cursor: pointer;
}

a.hastip {
  position: relative;
  text-decoration: none;
  color: #ee7103;
  padding: 5px 20px;
}

.tip {
  position: absolute;
  left: 0;
  top: -30px;
  z-index: 30;
  padding: 0 20px;
  width: auto;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  color: #191919;
  white-space: nowrap;
  border: solid 3px #191919;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0.27)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.27) 30%, rgba(0, 0, 0, 0));
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: opacity .3s ease-in-out, top .3s ease-in-out, -webkit-transform 0s linear .4s;
  transition: opacity .3s ease-in-out, top .3s ease-in-out, -webkit-transform 0s linear .4s;
  transition: opacity .3s ease-in-out, top .3s ease-in-out, transform 0s linear .4s;
  transition: opacity .3s ease-in-out, top .3s ease-in-out, transform 0s linear .4s, -webkit-transform 0s linear .4s;
}

.hastip:hover .tip,
.hastip:active .tip {
  opacity: 1;
  top: -60px;
  z-index: 40;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity .3s ease-in-out, top .3s ease-in-out;
  transition: opacity .3s ease-in-out, top .3s ease-in-out;
}

.tip:before,
.tip:after {
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  width: 0;
  height: 0;
}

.tip:before {
  border: solid 15px transparent;
  border-top-color: #191919;
  margin-left: -15px;
  bottom: -31px;
}

.tip:after {
  border: solid 12px transparent;
  margin-left: -12px;
  bottom: -24px;
}

.grey {
  text-shadow: 0 -1px 1px #666, 0 1px 1px #fff;
  background-color: #bbb;
  -webkit-box-shadow: inset 0 1px 1px #ddd, 0 4px 16px #191919;
  -o-box-shadow: inset 0 1px 1px #ddd, 0 4px 16px #191919;
  box-shadow: inset 0 1px 1px #ddd, 0 4px 16px #191919;
}

.grey:after {
  border-top-color: #bbb;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:hover {
  color: #212529;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn:disabled, .btn.disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-check:checked + .btn-primary,
.btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

.btn-check:checked + .btn-primary:focus,
.btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.btn-check:checked + .btn-secondary,
.btn-check:active + .btn-secondary, .btn-secondary:active, .btn-secondary.active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #565e64;
  border-color: #51585e;
}

.btn-check:checked + .btn-secondary:focus,
.btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.btn-secondary:disabled, .btn-secondary.disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-success:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.btn-check:focus + .btn-success, .btn-success:focus {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}

.btn-check:checked + .btn-success,
.btn-check:active + .btn-success, .btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #146c43;
  border-color: #13653f;
}

.btn-check:checked + .btn-success:focus,
.btn-check:active + .btn-success:focus, .btn-success:active:focus, .btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
}

.btn-success:disabled, .btn-success.disabled {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-info:hover {
  color: #000;
  background-color: #31d2f2;
  border-color: #25cff2;
}

.btn-check:focus + .btn-info, .btn-info:focus {
  color: #000;
  background-color: #31d2f2;
  border-color: #25cff2;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}

.btn-check:checked + .btn-info,
.btn-check:active + .btn-info, .btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
  color: #000;
  background-color: #3dd5f3;
  border-color: #25cff2;
}

.btn-check:checked + .btn-info:focus,
.btn-check:active + .btn-info:focus, .btn-info:active:focus, .btn-info.active:focus,
.show > .btn-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(11, 172, 204, 0.5);
}

.btn-info:disabled, .btn-info.disabled {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
}

.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #000;
  background-color: #ffca2c;
  border-color: #ffc720;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}

.btn-check:checked + .btn-warning,
.btn-check:active + .btn-warning, .btn-warning:active, .btn-warning.active,
.show > .btn-warning.dropdown-toggle {
  color: #000;
  background-color: #ffcd39;
  border-color: #ffc720;
}

.btn-check:checked + .btn-warning:focus,
.btn-check:active + .btn-warning:focus, .btn-warning:active:focus, .btn-warning.active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, 0.5);
}

.btn-warning:disabled, .btn-warning.disabled {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
}

.btn-check:focus + .btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #bb2d3b;
  border-color: #b02a37;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.btn-check:checked + .btn-danger,
.btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}

.btn-check:checked + .btn-danger:focus,
.btn-check:active + .btn-danger:focus, .btn-danger:active:focus, .btn-danger.active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.btn-danger:disabled, .btn-danger.disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-light {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-light:hover {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}

.btn-check:focus + .btn-light, .btn-light:focus {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}

.btn-check:checked + .btn-light,
.btn-check:active + .btn-light, .btn-light:active, .btn-light.active,
.show > .btn-light.dropdown-toggle {
  color: #000;
  background-color: #f9fafb;
  border-color: #f9fafb;
}

.btn-check:checked + .btn-light:focus,
.btn-check:active + .btn-light:focus, .btn-light:active:focus, .btn-light.active:focus,
.show > .btn-light.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
}

.btn-light:disabled, .btn-light.disabled {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-dark:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
}

.btn-check:focus + .btn-dark, .btn-dark:focus {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-check:checked + .btn-dark,
.btn-check:active + .btn-dark, .btn-dark:active, .btn-dark.active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1a1e21;
  border-color: #191c1f;
}

.btn-check:checked + .btn-dark:focus,
.btn-check:active + .btn-dark:focus, .btn-dark:active:focus, .btn-dark.active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.btn-dark:disabled, .btn-dark.disabled {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-check:checked + .btn-outline-primary,
.btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-check:checked + .btn-outline-primary:focus,
.btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #0d6efd;
  background-color: transparent;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-check:checked + .btn-outline-secondary,
.btn-check:active + .btn-outline-secondary, .btn-outline-secondary:active, .btn-outline-secondary.active, .btn-outline-secondary.dropdown-toggle.show {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-check:active + .btn-outline-secondary:focus, .btn-outline-secondary:active:focus, .btn-outline-secondary.active:focus, .btn-outline-secondary.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary:disabled, .btn-outline-secondary.disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-success {
  color: #198754;
  border-color: #198754;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-check:focus + .btn-outline-success, .btn-outline-success:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}

.btn-check:checked + .btn-outline-success,
.btn-check:active + .btn-outline-success, .btn-outline-success:active, .btn-outline-success.active, .btn-outline-success.dropdown-toggle.show {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-check:checked + .btn-outline-success:focus,
.btn-check:active + .btn-outline-success:focus, .btn-outline-success:active:focus, .btn-outline-success.active:focus, .btn-outline-success.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(25, 135, 84, 0.5);
}

.btn-outline-success:disabled, .btn-outline-success.disabled {
  color: #198754;
  background-color: transparent;
}

.btn-outline-info {
  color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-outline-info:hover {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-check:focus + .btn-outline-info, .btn-outline-info:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}

.btn-check:checked + .btn-outline-info,
.btn-check:active + .btn-outline-info, .btn-outline-info:active, .btn-outline-info.active, .btn-outline-info.dropdown-toggle.show {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.btn-check:checked + .btn-outline-info:focus,
.btn-check:active + .btn-outline-info:focus, .btn-outline-info:active:focus, .btn-outline-info.active:focus, .btn-outline-info.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(13, 202, 240, 0.5);
}

.btn-outline-info:disabled, .btn-outline-info.disabled {
  color: #0dcaf0;
  background-color: transparent;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-check:focus + .btn-outline-warning, .btn-outline-warning:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}

.btn-check:checked + .btn-outline-warning,
.btn-check:active + .btn-outline-warning, .btn-outline-warning:active, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-check:checked + .btn-outline-warning:focus,
.btn-check:active + .btn-outline-warning:focus, .btn-outline-warning:active:focus, .btn-outline-warning.active:focus, .btn-outline-warning.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning:disabled, .btn-outline-warning.disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

.btn-check:checked + .btn-outline-danger,
.btn-check:active + .btn-outline-danger, .btn-outline-danger:active, .btn-outline-danger.active, .btn-outline-danger.dropdown-toggle.show {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-check:checked + .btn-outline-danger:focus,
.btn-check:active + .btn-outline-danger:focus, .btn-outline-danger:active:focus, .btn-outline-danger.active:focus, .btn-outline-danger.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger:disabled, .btn-outline-danger.disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-outline-light:hover {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}

.btn-check:checked + .btn-outline-light,
.btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: #000;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-check:checked + .btn-outline-light:focus,
.btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
}

.btn-outline-light:disabled, .btn-outline-light.disabled {
  color: #f8f9fa;
  background-color: transparent;
}

.btn-outline-dark {
  color: #212529;
  border-color: #212529;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-check:focus + .btn-outline-dark, .btn-outline-dark:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}

.btn-check:checked + .btn-outline-dark,
.btn-check:active + .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark.active, .btn-outline-dark.dropdown-toggle.show {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn-check:checked + .btn-outline-dark:focus,
.btn-check:active + .btn-outline-dark:focus, .btn-outline-dark:active:focus, .btn-outline-dark.active:focus, .btn-outline-dark.dropdown-toggle.show:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
          box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
}

.btn-outline-dark:disabled, .btn-outline-dark.disabled {
  color: #212529;
  background-color: transparent;
}

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: underline;
}

.btn-link:hover {
  color: #0a58ca;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.popover {
  position: absolute;
  top: 0;
  left: 0 /* rtl:ignore */;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: var(--bs-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.popover .popover-arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.popover .popover-arrow::before, .popover .popover-arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top, .bs-popover-auto[data-popper-placement^="top"] {
  margin-bottom: 0.5rem !important;
}

.bs-popover-top > .popover-arrow, .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow {
  bottom: calc(-0.5rem - 1px);
}

.bs-popover-top > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-top > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="top"] > .popover-arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.bs-popover-end, .bs-popover-auto[data-popper-placement^="right"] {
  margin-left: 0.5rem !important;
}

.bs-popover-end > .popover-arrow, .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow {
  left: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-end > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-end > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}

.bs-popover-bottom, .bs-popover-auto[data-popper-placement^="bottom"] {
  margin-top: 0.5rem !important;
}

.bs-popover-bottom > .popover-arrow, .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow {
  top: calc(-0.5rem - 1px);
}

.bs-popover-bottom > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-bottom > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="bottom"] > .popover-arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}

.bs-popover-bottom .popover-header::before, .bs-popover-auto[data-popper-placement^="bottom"] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f0f0f0;
}

.bs-popover-start, .bs-popover-auto[data-popper-placement^="left"] {
  margin-right: 0.5rem !important;
}

.bs-popover-start > .popover-arrow, .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow {
  right: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-start > .popover-arrow::before, .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-start > .popover-arrow::after, .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
}

.popover-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d8d8d8;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.popover-header:empty {
  display: none;
}

.popover-body {
  padding: 1rem 1rem;
  color: #212529;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

a:focus, a:active {
  border: 0;
}
