:root {
  --main-color: #ee7103;
}

body {
  /* background-image: url(images/dcase0.png); */
  background-color: #000;
  margin: 0px;
  padding: 0px;
  background-position: 50% 50%;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 14px;
}

#cases2 {
  position: absolute;
  visibility: visible;
  z-index: +3;
}

#credits {
  position: absolute;
  left: 10px;
  top: 542px;
  text-align: left;
  font-size: 12px;
  height: 50px;
  width: 1030px;
}

.fond {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* border: 8px solid #cf6; */
  border: 8px solid var(--main-color);
  height: 596px;
  text-align: center;
  width: 1024px;
  background-color: #ccf;
  border-radius: 10px;
}

#dessinfond {
  position: absolute;
}

#rebours {
  position: absolute;
  background-color: #f7b767;
  border-radius: 2px;
  top: 485px;
  left: 872px;
  width: 73px;
  height: 40px;
  visibility: visible;
}

.fondliste {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #f7b767;
  height: 130px;
  width: 750px;
  top: 30px;
}

/* 
#titre {
    position: absolute;
    background-color: #983897;
    opacity: 0.8;
    color: #fff;
    font-size: 24px;
    text-align: center;
    height: 26px;
    text-align: center;
    width: 390px;
    top: 12px;
    left: 139px;
} */
#regle {
  position: absolute;
  background-color: #69f;
  opacity: 0.8;
  color: #fff;
  font-size: 24px;
  height: 26px;
  text-align: center;
  width: 154px;
  top: 13px;
  left: 555px;
}

#cases {
  position: absolute;
  color: #000;
  font-size: 24px;
  background-color: #fff;
  height: 155px;
  text-align: center;
  width: 381px;
  left: 360px;
  padding: 5px;
  top: 278px;
  border-radius: 8px;
  border: 8px solid var(--main-color);
  visibility: visible;
  z-index: 3;
}

#ecouter {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  border: 2px solid #3366b0;
  background-color: #f6f;
  border-radius: 5px;
  height: 30px;
  text-align: center;
  width: 280px;
  color: #000;
}

#sur-desssin {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 830px;
  height: 470px;
}

#logo2 {
  position: absolute;
  margin-left: 730px;
  margin-top: 0cm;
  background-color: #99c;
  left: 195px;
  top: 633px;
  width: 95px;
}

#logo3 {
  position: absolute;
  margin-left: 730px;
  margin-top: 0cm;
  left: -246px;
  top: 727px;
  width: 166px;
}

body {
  /* background-color: #9cf; */
  background-color: #fff;
}

#dessincase1 {
  position: absolute;
  left: 442px;
  top: 58px;
  width: 249px;
  height: 236px;
  visibility: hidden;
  z-index: 2;
}

#dessincase4 {
  position: absolute;
  left: 296px;
  top: 35px;
  width: 515px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase5 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase9 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase18 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase19 {
  position: absolute;
  left: 341px;
  top: 26px;
  width: 456px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase22 {
  position: absolute;
  left: 270px;
  top: 0px;
  visibility: hidden;
  z-index: 2;
}

#dessincase24 {
  position: absolute;
  left: 200px;
  top: 8px;
  width: 700px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#dessincase25 {
  position: absolute;
  left: 200px;
  top: 26px;
  width: 700px;
  height: 242px;
  visibility: hidden;
  z-index: 2;
}

#resultat {
  position: absolute;
  border-style: solid;
  background-color: #ccc;
  opacity: 0.8;
  font-size: 24px;
  height: 22px;
  text-align: center;
  width: 100px;
  top: 374px;
  left: 932px;
}

#lecture1 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture2 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture3 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture4 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture5 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture6 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture7 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture8 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture9 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture10 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture11 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture12 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture13 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture14 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture15 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture16 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture17 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture18 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture19 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture20 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture21 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture22 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture23 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture24 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture25 {
  position: absolute;
  width: 47px;
  height: 65px;
}

#lecture1,
#lecture2,
#lecture3,
#lecture4,
#lecture5,
#lecture6,
#lecture7,
#lecture8,
#lecture9,
#lecture10,
#lecture11,
#lecture12,
#lecture13,
#lecture14,
#lecture15,
#lecture16,
#lecture17,
#lecture18,
#lecture19,
#lecture20,
#lecture21,
#lecture22,
#lecture23,
#lecture24,
#lecture25 {
  top: 379px;
  left: 694px;
  z-index: 4;
}

#croix {
  position: absolute;
  border-radius: 2px;
  top: 244px;
  left: 728px;
  width: 47px;
  height: 65px;
  z-index: 4;
}

#croix2 {
  position: absolute;
  border-radius: 2px;
  top: -24px;
  left: 354px;
}

#croix3 {
  position: absolute;
  border-radius: 2px;
  top: -24px;
  left: 354px;
}

#gobelet {
  position: absolute;
  border-radius: 2px;
  top: 219px;
  left: 907px;
  height: 154px;
  cursor: pointer;
}

#de1 {
  position: absolute;
  visibility: visible;
}

#de2 {
  position: absolute;
  visibility: visible;
}

#de3 {
  position: absolute;
  visibility: visible;
}

#de4 {
  position: absolute;
  visibility: visible;
}

#de5 {
  position: absolute;
  visibility: visible;
}

#de6 {
  position: absolute;
  visibility: visible;
}

#de1,
#de2,
#de3,
#de4,
#de5,
#de6 {
  top: 215px;
  left: 830px;
}

#pion1 {
  position: absolute;
  border-radius: 2px;
  top: 78px;
  left: 867px;
  cursor: pointer;
}

#pion2 {
  position: absolute;
  border-radius: 2px;
  top: 134px;
  left: 915px;
  cursor: pointer;
}

#pion3 {
  position: absolute;
  border-radius: 2px;
  top: 135px;
  left: 960px;
  cursor: pointer;
}

#pion4 {
  position: absolute;
  border-radius: 2px;
  top: 133px;
  left: 870px;
  cursor: pointer;
}

#pion5 {
  position: absolute;
  border-radius: 2px;
  top: 79px;
  left: 956px;
  cursor: pointer;
}

#pion6 {
  position: absolute;
  border-radius: 2px;
  top: 79px;
  left: 913px;
  cursor: pointer;
}

#numero1 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 700px;
  visibility: visible;
}

#numero2 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 584px;
  visibility: visible;
}

#numero3 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 470px;
  visibility: visible;
}

#numero4 {
  position: absolute;
  background-color: #ccc;
  top: 58px;
  left: 358px;
  visibility: visible;
}

#numero5 {
  position: absolute;
  background-color: #ccc;
  top: 60px;
  left: 236px;
  visibility: visible;
}

#numero6 {
  position: absolute;
  background-color: #ccc;
  top: 100px;
  left: 122px;
  visibility: visible;
}

#numero7 {
  position: absolute;
  background-color: #ccc;
  top: 191px;
  left: 78px;
  visibility: visible;
}

#numero8 {
  position: absolute;
  background-color: #ccc;
  top: 281px;
  left: 72px;
  visibility: visible;
}

#numero9 {
  position: absolute;
  background-color: #ccc;
  top: 373px;
  left: 83px;
  visibility: visible;
}

#numero10 {
  position: absolute;
  background-color: #ccc;
  top: 462px;
  left: 108px;
  visibility: visible;
}

#numero11 {
  position: absolute;
  background-color: #ccc;
  top: 478px;
  left: 229px;
  visibility: visible;
}

#numero12 {
  position: absolute;
  background-color: #ccc;
  top: 480px;
  left: 347px;
  visibility: visible;
}

#numero13 {
  position: absolute;
  background-color: #ccc;
  top: 480px;
  left: 462px;
  visibility: visible;
}

#numero14 {
  position: absolute;
  background-color: #ccc;
  top: 480px;
  left: 582px;
  visibility: visible;
}

#numero15 {
  position: absolute;
  background-color: #ccc;
  top: 479px;
  left: 702px;
  visibility: visible;
}

#numero16 {
  position: absolute;
  background-color: #ccc;
  top: 393px;
  left: 790px;
  visibility: visible;
}

#numero17 {
  position: absolute;
  background-color: #ccc;
  top: 308px;
  left: 778px;
  visibility: visible;
}

#numero18 {
  position: absolute;
  background-color: #ccc;
  top: 209px;
  left: 709px;
  visibility: visible;
}

#numero19 {
  position: absolute;
  background-color: #ccc;
  top: 198px;
  left: 588px;
  visibility: visible;
}

#numero20 {
  position: absolute;
  background-color: #ccc;
  top: 195px;
  left: 470px;
  visibility: visible;
}

#numero21 {
  position: absolute;
  background-color: #ccc;
  top: 207px;
  left: 353px;
  visibility: visible;
}

#numero22 {
  position: absolute;
  background-color: #ccc;
  top: 290px;
  left: 265px;
  visibility: visible;
}

#numero23 {
  position: absolute;
  background-color: #ccc;
  top: 377px;
  left: 347px;
  visibility: visible;
}

#numero24 {
  position: absolute;
  background-color: #ccc;
  top: 359px;
  left: 474px;
  visibility: visible;
}

#numero25 {
  position: absolute;
  background-color: #ccc;
  top: 338px;
  left: 607px;
  visibility: visible;
  bottom: 72px;
}

#numero1,
#numero2,
#numero3,
#numero4,
#numero5,
#numero6,
#numero7,
#numero8,
#numero9,
#numero10,
#numero11,
#numero12,
#numero13,
#numero14,
#numero15,
#numero16,
#numero17,
#numero18,
#numero19,
#numero20,
#numero21,
#numero22,
#numero23,
#numero24 {
  width: 52px;
  height: 30px;
  /* opacity: 0; */
  background-color: #fff;
  color: #ee7103;
  border-radius: 20px;
  border: 1px solid #ee7103;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#numero25 {
  width: 176px;
  height: 124px;
  opacity: 0;
}

#boite {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 18%;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  height: 35px;
  cursor: pointer;
  text-align: center;
  width: 210px;
  z-index: +2;
}

#btn1 {
  font-size: 20px;
  color: white;
  background-color: #7b58ee;
  height: 30px;
  cursor: pointer;
  text-align: center;
  width: 285px;
  visibility: visible;
}

#btn2 {
  font-size: 20px;
  color: #fff;
  background-color: red;
  height: 30px;
  cursor: pointer;
  text-align: center;
  width: 285px;
  visibility: visible;
}

#count {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-size: 28px;
  color: #fff;
  background-color: #333;
  height: 50px;
  text-align: center;
  width: 280px;
  visibility: visible;
}

h2 {
  text-align: center;
  /* font-size: 3rem; */
  width: calc(1024px - 100px);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1024px;
  height: 118px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  color: var(--main-color);
}

.title {
  text-decoration: none;
  font-size: 3rem;
  margin-top: 14px;
  margin-bottom: 14px;
}

a.title:hover,
.bi:hover {
  color: grey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.title:active,
.bi:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.header a {
  color: var(--main-color);
}

.header p {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header p a {
  margin-left: 10px;
}

.bi {
  color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.52);
          box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.52);
}

.logo {
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
}

.fond {
  min-width: 499px;
}

footer p {
  text-align: center;
  text-transform: capitalize;
}

.numero:hover,
#croix:hover,
.lecture {
  cursor: pointer;
}
/*# sourceMappingURL=jeu.css.map */