:root {
    --main-color: #ee7103;
}

h2 {
    text-align: center;
    /* font-size: 3rem; */
    width: calc(1024px - 100px);
}

.header {
    display: flex;
    width: 1024px;
    height: 118px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    color: var(--main-color);
}

.title {
    text-decoration: none;
    font-size: 3rem;
    margin-top: 14px;
    margin-bottom: 14px;
}

a.title:hover,
.bi:hover {
    color: grey;
    transition: 0.5s;
}

a.title:active,
.bi:active {
    transform: scale(0.9);
    transition: transform 0.1s;
    box-shadow: 0 0 0 0;
}

.header a {
    color: var(--main-color);
}

.header p {
    width: 100px;
    display: flex;
}

.header p a {
    margin-left: 10px;
}

.bi {
    color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.52);
}

.logo {
    margin-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.fond {
    min-width: 499px;
}

footer p {
    text-align: center;
    text-transform: capitalize;
}

.numero:hover,
#croix:hover,
.lecture {
    cursor: pointer;
}


/* menu */


/* Base styles */

.site-title {
    margin-bottom: 0;
}

.main-menu {
    padding: .4em 1em;
    color: white;
    background: #333333;
}

.post-content {
    padding: 0 1.4em 1.4em;
}

.sidebar {
    padding: .5em 1.4em 1em;
    background: #e6e6e6;
    overflow: hidden;
    -webkit-transition: padding .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease;
    transition: padding .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease;
    transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
    transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease, -ms-flex .5s ease;
}

.example-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.example-menu a {
    display: block;
    padding: .4em 0;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.example-menu a:hover,
.example-menu a:focus {
    padding: .4em 1em;
    background: #333333;
    color: white;
}

.footer-area {
    padding: .4em 1em;
    text-align: center;
    background: #bfbfbf;
}


/* Sidebar switcher buttons */

@media screen and (max-width: 40em) {
    /* Hide switcher on small screens */
    .sidebar-switcher {
        display: none;
    }
}

@media screen and (min-width: 40em) {
    .sidebar-switcher {
        position: absolute;
        right: 0;
        padding: .4em 1em;
        color: #666666;
    }
    .sidebar-switcher a {
        color: #666666;
        padding-left: .4em;
    }
    .sidebar-switcher a:hover,
    .sidebar-switcher a:focus {
        color: #333333;
    }
}


/*Flexbox*/

@media screen and (min-width: 40em) {
    .outer-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .main-area {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .post-content {
        max-width: 40em;
        margin: 0 auto;
    }
    .sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 12em;
        flex: 0 0 12em;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .sidebar-left {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .no-sidebar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hide-sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
        flex: 0 0 0;
        padding: 0;
        color: rgba(0, 0, 0, 0);
        -webkit-transition: color .2s ease, padding .5s ease .3s, -webkit-box-flex .5s ease .3s;
        transition: color .2s ease, padding .5s ease .3s, -webkit-box-flex .5s ease .3s;
        transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
        transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s, -webkit-box-flex .5s ease .3s, -ms-flex .5s ease .3s;
    }
    .hide-sidebar a {
        color: rgba(0, 0, 0, 0);
    }
}