h2 {
    text-align: center;
    font-size: 2rem;
}

header p {
    float: right;
}

.logo {
    position: absolute;
    left: 0;
    right: 0;
    /* width: 150px; */
    /* height: auto; */
    margin-left: 10px;
    margin: 10px;
}