#gobelet {
    position: absolute;
    border-radius: 2px;
    top: 219px;
    left: 907px;
    height: 154px;
    cursor: pointer;
}

#de1 {
    position: absolute;
    visibility: visible;
}

#de2 {
    position: absolute;
    visibility: visible;
}

#de3 {
    position: absolute;
    visibility: visible;
}

#de4 {
    position: absolute;
    visibility: visible;
}

#de5 {
    position: absolute;
    visibility: visible;
}

#de6 {
    position: absolute;
    visibility: visible;
}

#de1,
#de2,
#de3,
#de4,
#de5,
#de6 {
    top: 215px;
    left: 830px;
    &:hover {
        cursor: pointer;
    }
}