#dessincase1 {
    position: absolute;
    left: 442px;
    top: 58px;
    width: 249px;
    height: 236px;
    visibility: hidden;
    z-index: 2;
}

// #dessincase111 {
//     position: absolute;
//     left: 442px;
//     top: 58px;
//     width: 249px;
//     height: 236px;
//     visibility: hidden;
//     z-index: 2;
// }
#dessincase4 {
    position: absolute;
    left: 296px;
    top: 35px;
    width: 515px;
    height: 242px;
    visibility: hidden;
    z-index: 2;
}

#dessincase5 {
    position: absolute;
    left: 341px;
    top: 26px;
    width: 456px;
    height: 242px;
    visibility: hidden;
    z-index: 2;
}

#dessincase9 {
    position: absolute;
    left: 341px;
    top: 26px;
    width: 456px;
    height: 242px;
    visibility: hidden;
    z-index: 2;
}

#dessincase18 {
    position: absolute;
    left: 341px;
    top: 26px;
    width: 456px;
    height: 242px;
    visibility: hidden;
    z-index: 2;
}

#dessincase19 {
    position: absolute;
    left: 341px;
    top: 26px;
    width: 456px;
    height: 242px;
    visibility: hidden;
    z-index: 2;
}

#dessincase22 {
    position: absolute;
    left: 270px;
    top: 0px;
    visibility: hidden;
    z-index: 2;
}

#dessincase24 {
    position: absolute;
    left: 200px;
    top: 8px;
    width: 700px;
    height: 242px;
    visibility: hidden;
    z-index: 2;
}

#dessincase25 {
    position: absolute;
    left: 200px;
    top: 26px;
    width: 700px;
    height: 242px;
    visibility: hidden;
    z-index: 2;
}