#resultat {
    position: absolute;
    border-style: solid;
    background-color: #ccc;
    opacity: 0.8;
    font-size: 24px;
    height: 22px;
    text-align: center;
    width: 100px;
    top: 374px;
    left: 932px;
}

#lecture1 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture2 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture3 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture4 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture5 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture6 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture7 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture8 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture9 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture10 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture11 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture12 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture13 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture14 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture15 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture16 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture17 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture18 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture19 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture20 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture21 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture22 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture23 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture24 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture25 {
    position: absolute;
    width: 47px;
    height: 65px;
}

#lecture1,
#lecture2,
#lecture3,
#lecture4,
#lecture5,
#lecture6,
#lecture7,
#lecture8,
#lecture9,
#lecture10,
#lecture11,
#lecture12,
#lecture13,
#lecture14,
#lecture15,
#lecture16,
#lecture17,
#lecture18,
#lecture19,
#lecture20,
#lecture21,
#lecture22,
#lecture23,
#lecture24,
#lecture25 {
    top: 379px;
    left: 694px;
    z-index: 4;
}

#croix {
    position: absolute;
    border-radius: 2px;
    top: 244px;
    left: 728px;
    width: 47px;
    height: 65px;
    z-index: 4;
}

#croix2 {
    position: absolute;
    border-radius: 2px;
    top: -24px;
    left: 354px;
}

#croix3 {
    position: absolute;
    border-radius: 2px;
    top: -24px;
    left: 354px;
}