#pion1 {
    position: absolute;
    border-radius: 2px;
    top: 78px;
    left: 867px;
    cursor: pointer;
}

#pion2 {
    position: absolute;
    border-radius: 2px;
    top: 134px;
    left: 915px;
    cursor: pointer;
}

#pion3 {
    position: absolute;
    border-radius: 2px;
    top: 135px;
    left: 960px;
    cursor: pointer;
}

#pion4 {
    position: absolute;
    border-radius: 2px;
    top: 133px;
    left: 870px;
    cursor: pointer;
}

#pion5 {
    position: absolute;
    border-radius: 2px;
    top: 79px;
    left: 956px;
    cursor: pointer;
}

#pion6 {
    position: absolute;
    border-radius: 2px;
    top: 79px;
    left: 913px;
    cursor: pointer;
}