.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.vscode/settings.json

# Local History for Visual Studio Code
.history/
.images-download/**
jeu-de-l-oie_files/**
images/**
!images/jeu-oie.jpg
sounds/**
node_modules/**
