@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header a {
  color: #fff;
  -webkit-transition: padding .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease;
  transition: padding .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease;
  transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
  transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease, -ms-flex .5s ease;
}

.header a:hover {
  color: #ffa502;
}

/* main */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  background: #2f3542;
  color: #404040;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h1 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-variant-caps: small-caps;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

h1 span,
h1 i {
  color: #ffa502;
}

h2 {
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

h3 {
  color: #ffa502;
  font-size: 1.5rem;
  margin-top: 21px;
  margin-bottom: 21px;
}

.questions {
  width: calc(100vw - 20px);
  min-height: 160px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .questions {
    width: 500px;
    height: 100px;
  }
}

@media (max-height: 411px) {
  .questions {
    min-height: 60px;
  }
}

.choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem auto 1rem;
  width: calc(100vw - 8px);
}

@media (min-width: 768px) {
  .choices {
    width: 500px;
    margin: 3rem auto 3rem;
  }
}

.choices button {
  width: calc(100vw - .8rem);
  height: 80px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 0.4rem;
  outline: none;
  background: #dfe4ea;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 600;
}

@media (min-width: 768px) {
  .choices button {
    width: 200px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 95%;
            flex: 1 0 95%;
    height: 80px;
  }
}

@media screen and (max-height: 768px) {
  .choices button {
    height: 60px;
  }
}

.choices button:hover {
  background: #ffa502;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.choices button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
}

.choices button p {
  font-size: 1.3rem;
}

#progress {
  font-size: 1.3rem;
  color: #ffa502;
}

.logo {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    display: block;
    z-index: 100;
  }
}

/* clps */
/* Base styles */
.main-menu {
  padding: .4em 1em;
  color: white;
  background: #333333;
}

.post-content {
  padding: 0 1.4em 1.4em;
}

.sidebar {
  padding: .5em 1.4em 1em;
  background: #e6e6e6;
  overflow: hidden;
  -webkit-transition: padding .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease;
  transition: padding .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease;
  transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
  transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s, -webkit-box-flex .5s ease, -ms-flex .5s ease;
}

.example-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example-menu a {
  display: block;
  padding: .4em 0;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.example-menu a:hover,
.example-menu a:focus {
  padding: .4em 1em;
  background: #333333;
  color: white;
}

.footer-area {
  padding: .4em 1em;
  text-align: center;
  background: #bfbfbf;
}

/* Sidebar switcher buttons */
@media screen and (max-width: 40em) {
  /* Hide switcher on small screens */
  .sidebar-switcher {
    display: none;
  }
}

@media screen and (min-width: 40em) {
  .sidebar-switcher {
    position: absolute;
    right: 0;
    padding: .4em 1em;
    color: #666666;
  }
  .sidebar-switcher a {
    color: #666666;
    padding-left: .4em;
  }
  .sidebar-switcher a:hover,
  .sidebar-switcher a:focus {
    color: #333333;
  }
}

/*Flexbox*/
.main-area,
.footer {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  color: #dfe4ea;
}

.footer {
  padding: 15px;
}

@media screen and (min-width: 40em) {
  .outer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: calc(100vh - 115px);
  }
  .main-area {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .post-content {
    max-width: 40em;
    margin: 0 auto;
  }
  .sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12em;
            flex: 0 0 12em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sidebar-left {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .no-sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hide-sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
    padding: 0;
    color: rgba(0, 0, 0, 0);
    -webkit-transition: color .2s ease, padding .5s ease .3s, -webkit-box-flex .5s ease .3s;
    transition: color .2s ease, padding .5s ease .3s, -webkit-box-flex .5s ease .3s;
    transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
    transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s, -webkit-box-flex .5s ease .3s, -ms-flex .5s ease .3s;
  }
  .hide-sidebar a {
    color: rgba(0, 0, 0, 0);
  }
}
/*# sourceMappingURL=main.css.map */