#quiz a.next,
.box.regle a.next {
    text-decoration: none;
    width: calc(100vw - 0.8rem);
    color: #000;
    @include respond-above(sm) {
        // width: 200px;
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
        flex: 1 0 95%;
        // flex: 1 0 45%;
        max-height: 80px;
    }
    @media screen and (max-height: 768px) {
        height: 60px;
    }
    height: 80px;
    line-height: 3;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 0.4rem;
    outline: none;
    background: #dfe4ea;
    user-select: none;
    font-weight: 600;
    &:hover {
        background: #ffa502;
        transition: 0.5s;
    }
    &:active {
        transform: scale(0.9);
        transition: transform 0.1s;
    }
    // p {
    //     font-size: 1.3rem;
    //     color: black;
    // }
}