/* Base styles */

// .site-title {
//     margin-bottom: 0;
// }
.main-menu {
    padding: .4em 1em;
    color: white;
    background: hsl(0, 0%, 20%);
}

.post-content {
    padding: 0 1.4em 1.4em;
}

.sidebar {
    padding: .5em 1em 1em;
    // background: hsl(0, 0%, 90%);
    overflow: hidden;
    transition: padding .5s ease, flex .5s ease, color .2s ease-in .3s;
}

.example-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.example-menu a {
    display: block;
    padding: .4em 0;
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease;
}

.example-menu a:hover,
.example-menu a:focus {
    padding: .4em 1em;
    background: hsl(0, 0%, 20%);
    color: white;
}

.example-menu li a.active {
    color: #ffa502;
    font-style: italic;
    cursor: default;
}

.example-menu a.active:hover,
// .example-menu a:focus,
.exemple-menu a.active {
    color: #ffa502;
    font-style: italic;
    cursor: default;
    background: transparent;
    transform: none;
    padding: .4em 0;
}

.footer-area {
    padding: .4em 1em;
    text-align: center;
    background: hsl(0, 0%, 75%);
}


/*Flexbox*/

.main-area,
.footer {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: #dfe4ea;
    // border-top: 1px solid;
}

.footer {
    padding: 15px;
    P {
        text-transform: capitalize;
    }
}

// @media screen and (min-width: 40em) {
@include respond-above(xs) {
    .outer-wrap {
        display: flex;
        flex-direction: column;
    }
    .content {
        display: flex;
        min-height: calc(100vh - 129px);
        // height: 665px;
        // height: calc(100vh - 115px);// 19:46
    }
    .main-area {
        flex: 1 1 auto;
        order: 1;
    }
    .sidebar {
        flex: 0 0 12em;
        order: 2
    }
    .hide-sidebar {
        flex: 0 0 0;
        padding: 0;
        color: hsla(0, 0%, 0%, 0);
        transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
    }
    .hide-sidebar a {
        color: hsla(0, 0%, 0%, 0);
    }
}

@include respond-below(xs) {
    .sidebar {
        left: -1000px;
    }
    .hide-sidebar {
        left: 0px;
        transition: color .2s ease, flex .5s ease .3s, padding .5s ease .3s;
    }
    .header h1 {
        order: 2;
    }
    .hide-sidebar-toggle {
        order: 1;
    }
}